.bodi {
    background-color: #dbc59e !important;
    height: 100vh;
}
.restaurant {
    text-align: center;
}

.table-one {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    padding: 10px;
}
.box {
    border: 1px solid;
    padding: 20px;
    border-radius: 12px;
}
.box table {
    width: 100%;
}
.button-first {
    text-align: center;
    padding: 10px;
}
.button-second {
    text-align: right;
    padding: 10px;
}
.selectedArticles {
    height: 300px;
    overflow: auto;
}
