<!-- <select>
    <option *ngFor="let item of veturat"
            [value]="item.id">
        {{item.emri}}
    </option>
</select> -->
<button (click)="shtoVetura()">Shto Vetura</button>
<div class="form-group">
    <label>Emri Vetures</label>
    <input [(ngModel)]="veturaSelektuar"
           type="text"
           class="form-control">
</div>
<table class="table">
    <thead>
        <tr>
            <td>Emri</td>
            <td>Id</td>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let item of veturat">
            <td>
                {{item.emri}}
            </td>
            <td>
                {{item.id}}
            </td>
        </tr>
    </tbody>

</table>