<div class="inputs">


    <div class="form-group">
        <label>Name</label>
        <input [(ngModel)]="name"
               type="text"
               class="form-control">
    </div>
    <div class="form-group">
        <label>Username</label>
        <input [(ngModel)]="username"
               type="text"
               class="form-control">
    </div>
    <div class="form-group">
        <label>Company</label>
        <input [(ngModel)]="company"
               type="text"
               class="form-control">
    </div>
    <div class="form-group">
        <label>Email</label>
        <input [(ngModel)]="email"
               type="text"
               class="form-control">
    </div>
    <div class="form-group">
        <label>Phone</label>
        <input [(ngModel)]="phone"
               type="text"
               class="form-control">
    </div>
    <button (click)="addPeople()"
            class="btn btn-success"
            [disabled]="control()">Add</button>
    <button (click)="update()"
            class="btn btn-success"
            [disabled]="control()">Update</button>
    <button (click)="clear()"
            class="btn btn-success">Clear</button>

</div>
<br> <br>
<br>

<div>
    <input [(ngModel)]="get"
           style="width: 350px;"
           type="text"
           class="form-control"><br>
    <button (click)="find()"
            class="btn btn-primary">Filtro</button>
</div><br>
<table class="table">
    <thead>
        <tr>

            <th>Name </th>
            <th>Username</th>
            <th>Company</th>
            <th>Email</th>
            <th>Phone</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of studentet">

            <td>{{item.name}}</td>
            <td>{{item.username}}</td>
            <td>{{item.company}}</td>
            <td>{{item.email}}</td>
            <td>{{item.phone}}</td>
            <td>
                <button (click)="edit(item)"
                        class="btn btn-info">
                    <i class="fa-solid fa-pen"></i>
                </button>
            </td>
            <td>
                <button (click)="deletet(item.id)"
                        class="btn btn-danger">
                    <i class="fa-solid fa-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>